@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-SemiBold"; /* Change to your font's name */
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype"); /* Path to your font file */
  font-weight: normal; /* You can specify normal, bold, etc. */
  font-style: normal; /* You can specify normal, italic, etc. */
}
@font-face {
  font-family: "Poppins-Bold"; /* Change to your font's name */
  src: url("/fonts/Poppins-Bold.ttf") format("truetype"); /* Path to your font file */
  font-weight: normal; /* You can specify normal, bold, etc. */
  font-style: normal; /* You can specify normal, italic, etc. */
}
@font-face {
  font-family: "Poppins-Medium"; /* Change to your font's name */
  src: url("/fonts/Poppins-Medium.ttf") format("truetype"); /* Path to your font file */
  font-weight: normal; /* You can specify normal, bold, etc. */
  font-style: normal; /* You can specify normal, italic, etc. */
}

body {
  overflow-x: hidden;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.form-control:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #7c7c7c !important;
  color: #7c7c7c !important;
  background-color: transparent !important;
  background-clip: border-box !important;
  transition: background-color 5000s ease-in-out 0s !important;
  font-size: 16px !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.footer-after:before {
  background-image: url("/images/paven.png");
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: #fa7317;
  width: 20px;
  height: 20px;
  border: 2px solid #fa7317;
  border-radius: 0.15em;
  /* transform: translateY(-0.075em); */
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: scale(0);
  transition: 200ms transform ease-in-out;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
  background: #fa7317;
}

select:valid {
  color: #9b9fa4;
}
