@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Poppins-SemiBold"; /* Change to your font's name */
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype"); /* Path to your font file */
  font-weight: normal; /* You can specify normal, bold, etc. */
  font-style: normal; /* You can specify normal, italic, etc. */
}
@font-face {
  font-family: "Poppins-Bold"; /* Change to your font's name */
  src: url("/fonts/Poppins-Bold.ttf") format("truetype"); /* Path to your font file */
  font-weight: normal; /* You can specify normal, bold, etc. */
  font-style: normal; /* You can specify normal, italic, etc. */
}
@font-face {
  font-family: "Poppins-Medium"; /* Change to your font's name */
  src: url("/fonts/Poppins-Medium.ttf") format("truetype"); /* Path to your font file */
  font-weight: normal; /* You can specify normal, bold, etc. */
  font-style: normal; /* You can specify normal, italic, etc. */
}

body {
  overflow-x: hidden;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.form-control:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #7c7c7c !important;
  color: #7c7c7c !important;
  background-color: transparent !important;
  background-clip: border-box !important;
  transition: background-color 5000s ease-in-out 0s !important;
  font-size: 16px !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.footer-after:before {
  background-image: url("/images/paven.png");
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: #fa7317;
  width: 20px;
  height: 20px;
  border: 2px solid #fa7317;
  border-radius: 0.15em;
  /* transform: translateY(-0.075em); */
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: scale(0);
  transition: 200ms transform ease-in-out;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
  background: #fa7317;
}

/* HTML: <div class="loader"></div> */
.loader {
  --b: 5px;
  width: calc(12 * var(--b));
  aspect-ratio: 1;
  border-radius: 50%;
  background: repeating-radial-gradient(
        calc(2 * var(--b)) at top,
        #0000 -1px,
        #fa7317 0 calc(50% - 1px),
        #0000 50% calc(100% - 1px)
      )
      calc(50% + var(--b)) 100%,
    repeating-radial-gradient(
        calc(2 * var(--b)) at bottom,
        #fa7317 -1px,
        #0000 0 calc(50% - 1px),
        #fa7317 50% calc(100% - 1px)
      )
      50% 0;
  background-size: 150% 50%;
  background-repeat: no-repeat;
  mask: radial-gradient(
        calc(1.5 * var(--b)) at calc(100% - var(--b) / 2) 0,
        #0000 calc(100% / 3),
        #fa7317 calc(100% / 3 + 1px) 110%,
        #0000 0
      )
      calc(50% + var(--b) / 2) 100% / calc(3 * var(--b)) 50% exclude no-repeat,
    conic-gradient(#fa7317 0 0);
  animation: l20 1s infinite linear;
}
@keyframes l20 {
  100% {
    transform: rotate(1turn);
  }
}

@media screen and (max-width: 990px) and (min-width: 640px) {
  .single-item-carousel {
    padding-inline: 96px;
  }
}

@keyframes phoneRotate {
  0% {
    transform: rotate(137deg);
  }
  25% {
    transform: rotate(152deg); /* Rotate slightly forward */
  }
  50% {
    transform: rotate(122deg); /* Rotate slightly backward */
  }
  75% {
    transform: rotate(142deg); /* Slightly less forward */
  }
  100% {
    transform: rotate(137deg); /* Back to original */
  }
}

.phone-icon {
  transition: transform 0.2s ease;
}

.phone-icon:hover {
  animation: phoneRotate 0.5s ease-in-out;
}
